.landing-background {
  height: 100vh;
  width: 100vw;
  background-image: url("cover.png");
  background-size: cover;
}

.greg-container {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.greg-center-everything {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.greg-full-height {
  min-height: 100vh;
}

.greg-card {
  min-width: 70vw;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  color: white;
  text-align: center;
  /* background-color: none; */
  /* border-radius: 15px; */
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
}

.white-background {
  background-color: #fefefe;
  color: #111111;
}

.lighter {
  font-weight: lighter;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.greg-flex-row {
  display: flex;
}

.purple-background {
  background-color: #5e4ab6;
}

.greg-btn {
  /* border-radius: 10px; */
  padding: 9px 12px;
  color: #f3f3f3;
  border: none;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}

.btn:focus {
  outline: 0;
}

.no-decoration {
  text-decoration: none !important;
  color: white !important;
}

.white-font {
  color: #f3f3f3;
}

.no-top-margin {
  margin-top: 0;
}

.work-background {
  background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
}

.job-card {
  padding: 30px 25px;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  min-height: 45vh;
  word-wrap: break-word;
}

.job-link {
  text-decoration: none;
  color: inherit;
}

.personal-background {
  background-color: #1c2022;
  padding-bottom: 15px;
}

.faded-black {
  color: #3f474c;
  opacity: 0.8;
}

.project {
  width: 80vw;
  border-radius: 15px;
  background-color: #050606;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: "Roboto Mono", monospace;
  padding: 15px 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
}

.blue-project {
  color: #1fccfb;
}

.no-margin {
  margin: 0;
}

.orange-project {
  /* color: #fb582b; */
  color: #fc8463;
}

.underline {
  text-decoration: underline;
}

.left-indent {
  margin-left: 2em;
}

.greg-margin-bottom {
  margin-bottom: 1em;
}

.greg-margin-top {
  margin-top: 1em;
}

.greg-article {
  display: flex;
  padding: 15px 10px;
  /* justify-content: space-around; */
  margin-top: 2em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  align-items: center;
}

.greg-article-image {
  max-height: 25vh;
  max-width: 40%;
}

.greg-inline {
  display: inline;
  margin-left: 2em;
}

.medium-button {
  text-decoration: none !important;
  background-color: #292929;
  padding: 10px 15px;
  color: white !important;
}

.greg-padding-bottom {
  padding-bottom: 1em;
}

.medium-background {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

.white-text {
  color: white !important;
}

.red-background {
  background-color: #ff4458;
}

.blue-background {
  background-color: #0d2235;
}

.greg-icon-link {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

.greg-icon-link:hover {
  color: white !important;
}

.icon-row {
  padding: 10px;
  text-align: center;
}

.greg-text-center {
  text-align: center;
}

.greg-bottom-margin {
  margin-bottom: 1em;
}

.bolder {
  font-weight: bolder;
}
